<!-- Button trigger modal -->

<div class="card-header">
  <div>
    <h1 class="text-3xl text-gray-dark">APPLICANTS PAGE</h1>
  </div>
</div>


<div class="py-4">
  <button type="button" class="bg-blue-500 text-white border-2 border-gray-dark py-2 px-4 rounded hover:bg-gray"  data-toggle="modal" data-target="#applicantModal">
    Add Applicant
  </button>
</div>

<!-- Modal -->
<div #modalForm class="modal fade" id="applicantModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="applicantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Candidato</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline2" [formGroup]="applicantForm" (ngSubmit)="addApplicant()">
          <div class="form-group">
            <label for="inputAddress">fecha</label>
            <input type="date" class="form-control" formControlName="date" id="date" placeholder="1234 Main St">
          </div>

          <div class="form-row">
                
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nombre</label>
              <input type="text" class="form-control" formControlName="name" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Id</label>
              <input type="number" class="form-control" formControlName="nationalId" id="inputPassword4" placeholder="Password">
            </div>
        </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Telefono</label>
                  <input type="number" formControlName="phone" class="form-control" id="inputPassword4" placeholder="Password">
                </div>  

                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
              <label for="inputAddress">Ciudad</label>
              <input type="text" formControlName="city" class="form-control" id="date" placeholder="1234 Main St">
            </div>

            <div class="form-group">
              <label for="inputAddress">Estado</label>
              <input type="text" formControlName="status" class="form-control" id="date" placeholder="1234 Main St">
            </div>
  
            <div class="form-group">
              <label for="inputAddress">Enlace CV</label>
              <input type="text" formControlName="cvLink" class="form-control" id="date" placeholder="1234 Main St">
            </div>
            

            <div class="form-group">
              <select class="custom-select" name="people" formControlName="referedBy">
                <option *ngFor="let user of users" value="{{user._id}}" >{{user.username}}</option>
              </select>
            </div>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary" type="submit" [disabled]="!applicantForm.valid" data-dismiss="">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="flex flex-col w-full">
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <div class="inline-block min-w-full align-middle bg-gray">
          
        <div class="p-4">
              <label for="table-search" class="sr-only">Search</label>
              <div class="relative mt-1">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                  </div>
                  <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
              </div>
          </div>

          <div class="overflow-hidden">
              <table class="min-w-full divide-y divide-gray table-fixed divide-gray-light">
                  <thead class="bg-blue">
                      <tr>
                          <th scope="col" class="table-th">
                              Date
                          </th>
                          <th scope="col" class="table-th">
                              Name
                          </th>
                          <th scope="col" class="table-th">
                            ID
                        </th>
                          <th scope="col" class="table-th">
                              Phone
                          </th>
                          <th scope="col" class="table-th">
                            Email
                          </th>
                          <th scope="col" class="table-th">
                            Status
                          </th>
                          <th scope="col" class="table-th">
                              Actions
                          </th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let applicant of applicants" class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                      
                    <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap ">{{applicant.date | date }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap ">{{applicant.name }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap ">{{applicant.nationalId }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap ">{{applicant.phone }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap ">{{applicant.email }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap ">{{applicant.status }}</td>
                          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap ">
                            <button type="button" (click)="set_id_selected_apl(applicant.id)" class="text-white bg-gray-dark border-2 border-blue-500 py-2 px-3 rounded hover:bg-blue-500" data-toggle="modal" data-target="#processModal">
                              Iniciar Proceso
                            </button>
                          </td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<!-- PROCESS MODAL-->
<div class="modal fade" id="processModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Proceso</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline2" [formGroup]="processForm" (ngSubmit)="addProcess(id_selected_apl)">

          <div class="form-row">
                
            <div class="form-group col-md-6">
              <label for="inputEmail4">Etapa</label>
              <select class="form-control" formControlName="stage">
                <option>Primera Entrevista</option>
                <option>Entrevista Lider</option>
                <option>Examen Médico</option>
                <option>En proceso Contratación</option>
                <option>Proceso Terminado</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Fecha</label>
              <input type="datetime-local" class="form-control" formControlName="date" id="inputPassword4" placeholder="Password">
            </div>
        </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Responsable</label>
                  <select class="form-control" formControlName="responsible">
                    <option>Jeimy Ortega</option>
                    <option>Jimena Sanchez</option>
                    <option>Líder-Jefe-Gerente</option>
                    <option>Unidad de Salud</option>
                    <option>Otros</option>
                  </select>
                </div>  

            </div>

            <div class="form-group">
              <label for="inputAddress">Estado</label>
              <select class="form-control" formControlName="status">
                <option>En proceso</option>
                <option>Satisfactorio</option>
                <option>No satisfactorio</option>
                <option>Inconcluso</option>
                <option>No continua en proceso</option>
                <option>Otros</option>
              </select>
            </div>

            <div class="form-group">
              <label for="inputAddress">Observaciones</label>
              <input type="text" formControlName="comments" class="form-control" id="date" placeholder="obs">
            </div>

            <!-- <input type="hidden" name="applicant_id" value="name"> -->

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary" type="submit" [disabled]="!processForm.valid">
            <i class="fa fa-plus"></i> Añadir
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
