<!-- Button trigger modal -->

<div class="card-header">
  <div>
    <h1 class="text-3xl text-gray-dark">Applicants Page</h1>
  </div>
</div>


<div class="py-4">
  <button type="button" class="bg-blue-500 text-white border-2 border-gray-dark py-2 px-4 rounded hover:bg-gray"  data-toggle="modal" data-target="#applicantModal">
    Add Applicant
  </button>
</div>

<!-- Modal -->
<div class="overflow-auto h-64 t-0 bg-gray bg-opacity-30 hidden fade fixed right-0 z-50 align-middle justify-center items-center h-modal md:h-full md:inset-0" id="applicantModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="applicantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="bg-gray modal-content">
      <div class="modal-header">
        <h3 class="text-2xl font-bold text-white" id="exampleModalLabel">Applicant</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="relative overflow-auto modal-body bg-gray-light bg-opacity-90">

        <form class="" [formGroup]="applicantForm" (ngSubmit)="addApplicant()">
          
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" formControlName="date" id="date">
          </div>

          <div class="form-row">
                
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input type="text" class="form-control" formControlName="name" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Id</label>
              <input type="number" class="form-control" formControlName="nationalId" id="inputPassword4" placeholder="Password">
            </div>
        </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Telefono</label>
                  <input type="number" formControlName="phone" class="form-control" id="inputPassword4" placeholder="Password">
                </div>  

                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
              <label for="inputAddress">City</label>
              <input type="text" formControlName="city" class="form-control" id="date" placeholder="1234 Main St">
            </div>

            <div class="form-group">
              <label for="inputAddress">Status</label>
              <input type="text" formControlName="status" class="form-control" id="date" placeholder="1234 Main St">
            </div>
  
            <div class="form-group">
              <label for="inputAddress">CV Link</label>
              <input type="text" formControlName="cvLink" class="form-control" id="date" placeholder="1234 Main St">
            </div>
            

            <div class="form-group">
              <select class="custom-select" name="people" formControlName="referedBy">
                <option *ngFor="let user of users" value="{{user._id}}" >{{user.username}}</option>
              </select>
            </div>

            <div class="row content-end">
              <div class="col">
                <button type="button" class="bg-orange py-2 px-4 rounded pr-4" data-dismiss="modal">Cerrar</button>
                <button class="ml-4 py-2 px-4 bg-blue-500 rounded" type="submit" [disabled]="!applicantForm.valid" data-dismiss="">
                  <i class="fa fa-plus"></i> Añadir
                </button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="flex flex-col w-full">
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <div class="inline-block min-w-full align-middle bg-gray">
          
        <div class="p-4">
              <label for="table-search" class="sr-only">Search</label>
              <div class="relative mt-1">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                  </div>
                  <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
              </div>
          </div>

          <div class="example-container mat-elevation-z8">
            <mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter">
              
              <ng-container matColumnDef="Date">
                <mat-header-cell class="table-th" *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date | date}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="Name">
                <mat-header-cell class="table-th" *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                <a class="applicant-link" (click)="setApplicantId(element.id)" routerLink="/applicant">
                  {{element.name}} 
                </a>
                </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="Id">
                <mat-header-cell class="table-th" *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nationalId}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="Phone">
                <mat-header-cell class="table-th" *matHeaderCellDef> Phone </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="Email">
                <mat-header-cell class="table-th" *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="Status">
                <mat-header-cell class="table-th" *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="Actions">
                <mat-header-cell class="table-th" *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element">  
                  <button type="button" (click)="set_id_selected_apl(element.id)" class="text-white bg-gray-dark border-2 border-blue-500 py-2 px-3 rounded hover:bg-blue-500" data-toggle="modal" data-target="#processModal">
                    Add Status
                  </button>
                </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>

      </div>
  </div>
</div>




<!-- Modal -->
<!-- PROCESS MODAL-->
<div class="overflow-auto h-64 t-0 bg-gray bg-opacity-30 hidden fade fixed right-0 z-50 align-middle justify-center items-center h-modal md:h-full md:inset-0" id="processModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="applicantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="bg-gray modal-content">
      <div class="modal-header">
        <h3 class="text-2xl font-bold text-white" id="exampleModalLabel">Add Status</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="relative overflow-auto modal-body bg-gray-light bg-opacity-90">

        <form class="form-inline2" [formGroup]="processForm" (ngSubmit)="addProcess(id_selected_apl)">

          <div class="form-row">
                
            <div class="form-group col-md-6">
              <label for="inputEmail4">Stage</label>
              <select class="form-control" formControlName="stage">
                <option>First Interview</option>
                <option>Leader Interview</option>
                <option>Medical Exam</option>
                <option>Hired</option>
                <option>Not continued</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Date</label>
              <input type="datetime-local" class="form-control" formControlName="date" id="inputPassword4" placeholder="Password">
            </div>
        </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Responsible</label>
                  <select class="form-control" formControlName="responsible">
                    <option>Leader-Manager</option>
                    <option>IPS</option>
                    <option>Others</option>
                  </select>
                </div>  

            </div>

            <div class="form-group">
              <label for="inputAddress">Status</label>
              <select class="form-control" formControlName="status">
                <option>In process</option>
                <option>Done</option>
                <option>Pending</option>
                <option>Inconcluse</option>
                <option>Process ended</option>
                <option>Others</option>
              </select>
            </div>

            <div class="form-group">
              <label for="inputAddress">Observations</label>
              <input type="text" formControlName="comments" class="form-control" id="date" placeholder="obs">
            </div>

            <!-- <input type="hidden" name="applicant_id" value="name"> -->
          <div class="row">
            <button type="button" class="py-2 px-4 bg-orange rounded" data-dismiss="modal">Close</button>
            <button class="ml-4 py-2 px-4 bg-blue rounded" type="submit" [disabled]="!processForm.valid">
              <i class="fa fa-plus"></i> Add
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
