<app-toast [message]="toast.message"></app-toast>

<body class="text-center">
    
  <main class="form-signin">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <img class="mb-4" src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2FjarLogo%20(1).svg?alt=media&token=00062f15-5139-41c3-95bf-70badfb936ff" alt="" width="200">
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
  
      <div class="input-group" [ngClass]="setClassEmail()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="username"
               formControlName="username" placeholder="Username" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-key"></i>
          </span>
        </div>
        <input class="form-control" type="password" name="password"
               formControlName="password" placeholder="Password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
        <i class="fa fa-sign-in"></i> Login
      </button>

      <p class="mt-5 mb-3 text-muted"> Jorge Molano &copy; 2022</p>
    </form>
  </main>  
      
</body>
